.Con::after {
	content: '';
	clear: both;
	display: table;
	width: 100%;
	text-align: center;
}

.back {
	background: linear-gradient(180deg,
			#ffffff,
			#ffffff,
			#b0efe1,
			#88eee7,
			#6de9f8,
			#81deff,
			#a4d1ff,
			#c3c3f6);
}

.btn-dark {
	border-radius: 8px;
}

.btn-dark:hover {
	color: white !important;
}

.reds {
	color: rgb(221, 13, 13);
	font-size: 1.2px;
}

#Lef {
	float: left;
	width: 58%;

	height: 29%;
	padding: 2% 2% 2% 8.5% !important;
}

#cols {
	color: rgb(223, 123, 33);
}

#Rig {
	float: left;
	width: 38%;
	padding: 6% 5% 2% 2% !important;
	height: 29%;
	text-align: left;
}

#Lef,
#Rig {
	margin: 100px 10px;

	padding: 0px 10px;
}

.butts {
	background-color: #ffffff;
	/* White */
	border: none;
	color: darkgray;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 10px;
	font-size: 1vw;
}

.butts:hover {
	background-color: #ffffff !important;
	/* White */
	border: none !important;
	color: darkgray !important;
	padding: 12px 20px !important;
	text-align: center !important;
	text-decoration: none !important;
	display: inline-block !important;
	border-radius: 10px !important;
	font-size: 1vw !important;
}