#Containers::after {
    content: "";
    clear: both;
    display: contents;
    width: Calc(100%-15px);
    height: auto;
    padding: 20px;


}

#lefts,
#rights {
    width: 50%;
    float: left;
    justify-content: center;
}

#lefts {
    text-align: center;
}


#rights {

    margin-top: 50px;
}

.but3 {
    border-radius: 5px;
    box-sizing: border-box;
    border: 1.5px solid rgb(206, 203, 203);
    margin: 10px;

}

.fab {
    font-size: 3vw;
}




#lefts img {
    width: 50%;
    height: auto;
}


.navbar-brand img:hover,
#lefts img:hover {
    box-shadow: none !important;
}