.setting2 {
    background-color: rgba(242, 242, 247, 0.6);
    margin-top: 24px;
    padding: 60px 0px;
    padding-left: 25px;


}



.setting6 {
    background-color: rgb(255, 255, 255);
}

.setting7 {
    background-color: rgb(242, 242, 247);

}

.setting8 {
    background-color: rgb(16, 25, 40);

}